/* CSS Initializing */
body{
    margin: 0;
}

h1, h2, h3, p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


/* LayOuts */

.l_wrapper{
    width: 1440px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        "header header header"
        "body body sidebar"
        "body body sidebar"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    gap: 30px;
    
}

.l_header{
    grid-area: header;
    margin: 80px 0;
}

.l_body{
    grid-area: body;
    position: relative;
}

.l_contents{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.l_sidebar{
    grid-area: sidebar;
}

.l_footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

/* Header Components */

.main_menu{
    float: right;
    font-family: 'Inter-Regular', sans-serif;
}

.main_menu li{
    display: inline-block;
    margin-left: 60px;
    color: hsl(236, 13%, 42%);
}

.main_menu li:hover{
    color: hsl(35, 77%, 62%)
}

.main_menu_mobile{
    display: none;
}

/* body Components */ 

.cover{
    max-width: 100%;
    height: auto;
} /* 중요 1*/

.cover_mobile{
    display: none;
} /* Responsive Web, active in @media */
.body_title{
    width: 50%;
    font-family: 'Inter-ExtraBold', sans-serif;
    font-size: 2em;
}

.body_contents{
    position: relative;
    width: 50%;
    font-family: 'Inter-Regular', sans-serif;
}

.body_contents p{
   font-size: 1.2em;
   line-height: 1.5em;
   color: hsl(236, 13%, 42%);
}

.body_contents button{
    position: absolute;
    bottom: 0;
    background-color: hsl(5, 85%, 63%);
    border-style: none;
    color: hsl(36, 100%, 99%);
    letter-spacing: 0.4em;
    padding: 20px 40px;
    font-size: 1.2em;

}

/* Sidebar Components */
.sidebar{
    padding: 40px;
    background-color: hsl(240, 100%, 5%);
}

.sidebar h1{
    font-size: 2.5em;
    font-family: 'Inter-Bold', serif;
    color:hsl(35, 77%, 62%);
}

.sidebar_article{
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding: 40px 0;
}

.sidebar_article a{
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Inter-Bold', serif;
    color: hsl(36, 100%, 99%);
    margin-bottom: 10px;
} /* 중요 2 a는 inline이므로 margin 적용 불가에 유의 */

.sidebar_article a:hover{
    color:hsl(35, 77%, 62%);
}

.sidebar_article p{
    font-family: 'Inter-Regular', serif;
    color: hsl(233, 8%, 79%);
    line-height: 2em;
    font-size: 1em;
}

.sidebar_article:last-child{
    border: none;
}

/* footer components */

.footer-article{
    width: 30%;
}

.footer-cover{
    float: left;
    margin-right: 10px;
}

.footer-contents h2{
    color: hsl(233, 8%, 79%);
    font-family: 'Inter-Extrabold', serif;
    font-size: 2.3em;
    margin-bottom: 20px;
}

.footer-contents h3{
    color: hsl(240, 100%, 5%);
    font-family: 'Inter-Bold', serif;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.footer-contents p{
    color: hsl(236, 13%, 42%);
    line-height: 1.5em;
    font-size: 1.1em;
}


/* attribution components */

.attribution { font-size: 11px; text-align: center; margin: 20px auto; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Utils(Clearfix, Fonts etc...) */
.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('./assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
}

/* Responsive Web */
@media screen and (max-width: 375px){
    /* Layouts */
    
    .l_wrapper{
        display: flex;
        flex-direction: column;
        width: 85vw;
        padding: 0 10px;
        height: auto;
        margin: 0 auto;

        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: none;
    }

    .l_header{
        grid-area: none;
        margin: 15px 0;
        position: relative;
    }

    .l_body{
        position: static;
    }


    .l_contents{
        position: static;
        display: flex;
        flex-direction: column;
    }

    .l_footer{
        display: flex;
        flex-direction: column;
    }

    /* header components */
    .main_menu{
        display: none;
    }

    .main_menu_mobile{
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    /* body components */
    .cover{
        display: none;
    }

    .cover_mobile{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .body_title{
        width: 100%;
    }

    .body_title h1{
        font-size: 1.2em;
        margin: 15px 0;
    }

    .body_contents{
        width: 100%;
    }

    .body_contents p{
        font-size: 1em;
        margin: 10px 0;
    }

    
    .body_contents button{
        position: static;
        font-size: 1em;
    }

    /* sidebar components */
    .sidebar{
        padding: 15px;
    }

    /* footer components */
    .footer-article{
        width: 100%;
        margin-bottom: 40px;
        vertical-align: top;
    }

    .footer-cover{
        width: 40vw;
        margin-right: 10px;
    }

    .footer-contents h2{
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .footer-contents h3{
        font-size: 1.2em;
    }

    .footer-contents p{
        font-size: 1em;
    }
}