/* CSS Reset */

body{
    margin: 0;
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p{
    margin: 0;
}


/* LayOuts */
.wrapper{
    width: 1440px;
    margin: 0 auto;
}

.header{
    padding: 80px 0;
    display: flow-root;
}

.main{
    height: 630px;
    overflow: hidden;
}

/* Header Contents */
.header_logo{
    float: left;
}

.header_menu{
    float: right;
    color: #808080;
}

.header_menu li{
    margin-left: 40px;
    display: inline-block;
    letter-spacing: 0.5px;
}

.header_menu li:hover{
    color: hsl(35, 77%, 62%); /* 이거 바뀔때 애니메이션 한번 넣어보기 */
}

/* Main Sidebar Contents */
.main_sidebar{
    float: right;
    background-color: hsl(240, 100%, 5%);
    padding: 40px;
    width: 374px;
    height: 100%;
    margin-left: 40px;
    overflow: hidden;
}

.main_sidebar h1{
    color:hsl(35, 77%, 62%);
    font-size: 40px;
    font-weight: 800;
}

.main_sidebar div:last-child{
    border-bottom-style: none;
}

.article{
    border-bottom: 1px solid #808080;
    margin: 20px 0;
    height: 25%;
    position: relative;
}

.article_contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.article a{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 20px;
}

.article a:hover{
    color: hsl(35, 77%, 62%); 
}

.article p{
    padding-top: 10px;
    color: #808080;
    line-height: 2em;
}

/* Main contents */
.main_page{
    overflow: hidden;
}

.main_page img{
    width: 100%;
}

.main_box{
    overflow: hidden;
    margin: 20px auto;
}

.main_texts{
    width: 50%;
    float: right;
    color: #808080;
    line-height: 2em;
}

.main_title{
    font-weight: 800;
    font-size: 30px;
    line-height: 2.3em;
}

.r_button{
    margin-top: 40px;
    background-color: hsl(5, 85%, 63%);
    border-style: none;
    color:hsl(36, 100%, 99%);
    font-size: 20px;
    padding: 20px;
    letter-spacing: 0.3em;
    text-align: center;  
}

.top-articles{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.popular-article{
    display: flex;
}

.article-cover{
    margin: 0 25px;
}

.popular-article-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.popular-article-contents h2{
    font-size: 50px;
    color: hsl(233, 8%, 79%);
}

.popular-article-contents p{
    color: #808080;
    line-height: 2em;
}

/* util */
.clearfix::after{
    display: table;
    content: " ";
    clear: both;
}

@media(max-width:375px){
    .main_cover,
    .main_box{
        display: block;
    }

    .main_sidebar{
        float: none;
    }
}



